h1 {
  color: #2c3e50;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

hr {
  border: 0;
  height: 2px;
  background: #3498db;
  margin: 1rem 0;
  width: 50%;
}

p {
  color: #34495e;
  font-size: 1.25rem;
}